@implements IDisposable

@inject NavigationManager NavigationManager

<MudDrawer @bind-Open="@_isDrawerOpen">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6">Select an Option></MudText>
    </MudDrawerHeader>
    <MudPaper Width="250px" Elevation="1">
        <MudNavMenu Color="Color.Primary">
            <MudNavLink Match="NavLinkMatch.All" Href="" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="" Icon="@Icons.Material.Filled.Girl">Python</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="/about" Icon="@Icons.Material.Filled.DocumentScanner">David Neve - CV</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="" Icon="@Icons.Material.Filled.Gamepad">Video Game Development</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="/recognise" Icon="@Icons.Material.Filled.AirplanemodeActive">JHub Module 1a - Basic Web</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="/richweb" Icon="@Icons.Material.Filled.ListAlt">JHub Module 1b - Rich Web</MudNavLink>
        </MudNavMenu>
    </MudPaper>
</MudDrawer>

@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="auth">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView> *@


@code {

    private bool _isDrawerOpen = true;
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

